version: "3.9"

services:
  web:
    build: .
    container_name: optimizehub_web
    command: uvicorn app.api.routes:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
      - worker

  worker:
    build: .
    container_name: optimizehub_worker
    command: celery -A app.celery_app.celery worker --loglevel=INFO
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis

  redis:
    image: redis:7.0
    container_name: redis
    ports:
      - "6379:6379"
